<div class="container" style="padding-top: 70px">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong>Colosians 3:16a:</strong> "Let the word of Christ dwell in you richly..."</div>
      <div class="panel-body" style="padding: 30px">
        <p>
          Hi there!
        </p>
        <p>
          Thank you for taking interest in my App and letting it to be a part of your life. I hope it has enriched your pursuit of the Lord as it has for me.
        </p>
        <p>
          While I plan to keep this service running for the forseeable future, it does come with some costs to maintain it (about $56/month). So any donation you feel led to give is very much appreciated! :)
        </p>
        <p>
          Thank you again and God bless!
        </p>
        <br>
        <div style="text-align: right">
          <p>
          Sincerely,<br>
            Eric
          </p>
        </div>
      </div>

      <!-- List group -->
      <ul class="list-group" style="text-align: cneter">
        <li class="list-group-item donate_price">
        <div class="btn btn-success btn-amount" id="amount-five" data-amount="5">$5</div>
        </li>
        <li class="list-group-item donate_price">
        <div class="btn btn-primary btn-amount" id="amount-ten" data-amount="10">$10</div>
        </li>
        <li class="list-group-item donate_price">
        <div class="btn btn-info btn-amount" id="amount-twenty" data-amount="20">$20</div>
        </li>
      </ul>
      <div class="panel-footer">
        <%= form_tag donations_path, id: "donationform" do %>
          <div id="error_explanation">
            <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
            <% end %>
          </div>
          <article style="text-align: center">
          <div class="row">
            <div class="col-md-8 col-xs-6">
              <%= label_tag(:amount, 'Amount:') %>
              <%= text_field_tag (:amount), nil, placeholder: 'Other Amount', class: 'amount_field' %>
              <%= hidden_field_tag(:stripeToken) %>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="btn btn-default" id='donateButton'>Give</div>
            </div>
          </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'OpenManna',
    description: 'One-Time Donation',
    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('form').submit();
    }
  });

  // Amount Selections
  $('#amount-five').on('click', function() {
    var giveAmount = $(this).attr("data-amount");
    document.getElementById("amount").value=giveAmount;
  });

  $('#amount-ten').on('click', function() {
    var giveAmount = $(this).attr("data-amount");
    document.getElementById("amount").value=giveAmount;
  });

  $('#amount-twenty').on('click', function() {
    var giveAmount = $(this).attr("data-amount");
    document.getElementById("amount").value=giveAmount;
  });

  // Validations
  $('#donateButton').on('click', function(e) {
    e.preventDefault();

    $('#error_explanation').html('');

    var amount = $('input#amount').val();
    amount = amount.replace(/\$/g, '').replace(/\,/g, '')

    amount = parseFloat(amount);

    if (isNaN(amount)) {
      $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
    }
    else if (amount < 5.00) {
      $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
    }
    else {
      amount = amount * 100; // Needs to be an integer!
      handler.open({
        amount: Math.round(amount)
      })
    }
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
