= simple_form_for @subscription, html: {class: "well"} do |f|
  .form
    .input.email.optional.user_email
      = f.input :name
      = f.input :phone_number, placeholder: '1-555-555-5555 (US number only)'
      = f.input :time_zone, collection: ActiveSupport::TimeZone.us_zones
  %br/
  %table.table.table-bordered.table-striped.table-condensed.checkbox_days
    %label.control-label Select Days
    %tr
      %th Select All
      %th Sun
      %th Mon
      %th Tues
      %th Wed
      %th Thurs
      %th Fri
      %th Sat
    %tr
      %td
        %input#check_all_days{:type => "checkbox"}/
      %td= f.check_box :send_sunday
      %td= f.check_box :send_monday
      %td= f.check_box :send_tuesday
      %td= f.check_box :send_wednesday
      %td= f.check_box :send_thursday
      %td= f.check_box :send_friday
      %td= f.check_box :send_saturday
    %tr (Select at least one day)
  .form
    = f.input :send_hour, label: 'Select Time', collection: select_hours, |
      :include_blank => false                                             |
  %hr/
  .action
    = f.submit :class => 'btn btn-primary'

:javascript
  $('#check_all_days').click(function(event) {
    if(this.checked) {
      // Iterate each checkbox
        $(':checkbox').each(function() {
          this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
          this.checked = false;
      });
    }
  });


