#subscription_table.table-responsive
  %table.table.table-bordered.table-hover.table-condensed
    %tbody
      %tr
        %td
          %strong
            = "Name"
        %td= sub.name
      %tr
        %td
          %strong
            = "Status"
        %td= sub.status
      %tr
        %td
          %strong
            = "Phone Number"
        %td= sub.phone_number
      %tr
        %td
          %strong
            = "Action"
        %td
          =link_to "Edit", edit_subscription_path(sub), class: "btn btn-success"
          |
          - if sub.active
            =link_to "Pause Subscription", pause_subscription_path(sub), class: "btn btn-warning", data: { confirm: "Are you sure you want to pause this subscription? You will have to verify this number again." }
          - else
            =link_to "Verify", start_verification_path(sub_id: sub.id), class: "btn btn-primary"
          |
          =link_to "Delete", subscription_path(sub), :method => :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this subscription?" }
      %tr
        %td
          %strong
            = "Subscribed Days"
        %td= sub.subscribed_days
      %tr
        %td
          %strong
            = "Time to Send"
        %td= sub.readable_hour
%hr
