.container
  %h1 Subscriptions
  = link_to "New Subscription", new_subscription_path, class: "btn btn-success"
  %p
  %body
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Phone Number
            %th Subscribed Days
            %th Time to Send
            %th Status
            %th Action
        - @subscriptions.each do |sub|
          %tr
            %td= sub.name
            %td= sub.readable_phone_number
            %td= sub.subscribed_days
            %td= sub.readable_hour
            %td= sub.status
            %td
              =link_to "Edit", edit_subscription_path(sub), class: "btn btn-success"
              |
              - if sub.active
                =link_to "Pause Subscription", pause_subscription_path(sub), class: "btn btn-warning", data: { confirm: "Are you sure you want to pause this subscription? You will have to authenticate this number again." }
              - else
                =link_to "Activate", activate_subscription_path(sub), class: "btn btn-primary"
              |
              =link_to "Delete", subscription_path(sub), :method => :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this subscription?" }
        
