.container
  %br
  %h1 Subscriptions
  %br
  %h5
    %p
      1) Create a new subscription by clicking the "New Subscription" button below. 
    %p
      2) Activate your subscription by clicking on the "Verify" button within the table.
    %p
      3) A 4 digit PIN number will be sent to your phone. Enter the number within 5 minutes to complete your activation.

  %br
  = link_to "New Subscription", new_subscription_path, class: "btn btn-success"
  %p
  %body
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Phone Number
            %th Subscribed Days
            %th Time to Send
            %th Status
            %th Action
        - @subscriptions.each do |sub|
          %tr
            %td= sub.name
            %td= sub.readable_phone_number
            %td= sub.subscribed_days
            %td= sub.readable_hour
            %td= sub.status
            %td
              =link_to "Edit", edit_subscription_path(sub), class: "btn btn-success"
              |
              - if sub.active
                =link_to "Pause Subscription", pause_subscription_path(sub), class: "btn btn-warning", data: { confirm: "Are you sure you want to pause this subscription? You will have to verify this number again." }
              - else
                =link_to "Verify", start_verification_path(sub_id: sub.id), class: "btn btn-primary"
              |
              =link_to "Delete", subscription_path(sub), :method => :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this subscription?" }
        
