!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OpenManna
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %ul.nav.nav-tabs
        %li= link_to "Home", root_path
        %li= link_to "About", about_path
        %li= link_to "Subscriptions", subscriptions_path if current_user
        .pull-right.user-info
          - if current_user
            = link_to "#{current_user.email}", edit_user_registration_path
            = link_to "Sign out", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign In", new_user_session_path
            or
            \#{link_to "Sign Up", new_user_registration_path}
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:alert]
      = yield
